<h1>Songs</h1>
<%= link_to "Add Song +", new_song_path%>
<br/>
<h2> <%=@songs.length <= 0 ? "No Songs" : ""%> </h2>

<ul>
  <% @songs.each do |song|%>
    <li>
      <%= link_to song.name, song_path(song)%>    
     </li>
  <%end%>
</ul>
