<nav>
  <ul>
    <li>
      <a><%= link_to 'Songs', songs_path %></a>
    </li>
    <li>
      <%= link_to 'Add Song', new_song_path %>
    </li>
    <li>
      <%= link_to 'Artists', artists_path %>
    </li>
    <li>
      <%= link_to 'Add Artist', new_artist_path %>
    </li>
  </ul>
</nav>


